<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/sell/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/sell/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/sell/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/sell/assets/css/Login-Form-Dark.css">


</head>



<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content"></div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <div class="login-dark">
        <form action="/sell/seller/user/login" method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Account"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <!--<div class="form-group">-->
                <!--<input class="form-control" type="text" name="verify" placeholder="verifyCode">-->
                <!--<img src="/sell/seller/user/verify" id="verify">-->
            <!--</div>-->
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">登陆</button></div><a class="forgot" href="#">忘记密码?</a></form>
    </div>
    <script>
        // $.ajax({
        //     url:"/sell/seller/user/verify",    //请求的url地址
        //     dataType:"json",   //返回格式为json
        //     async:true,//请求是否异步，默认为异步，这也是ajax重要特性
        //     data:{"id":"value"},    //参数值
        //     type:"POST",   //请求方式
        //     success:function(req){
        //         //请求成功时处理
        //     },
        //     error:function(){
        //         //请求出错处理
        //     }
        // });

    </script>
    <script src="/sell/assets/js/jquery.min.js"></script>
    <script src="/sell/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/sell/assets/js/theme.js"></script>
</body>

</html>